.inputStyle {
    /*height: 31px;*/
    /*width: 200px;*/
    /*border-radius: 5px;*/
    /*background-color: #aeccf6;*/
    /*font-weight: bold;*/
}

.errorStyle {
  /*  height: 31px;
    width: 200px;
    border-radius: 5px;
    background-color: #a94c4c;
    font-weight: bold;*/
}